.filepicker-ui button, 
.filepicker-ui input {
  border: 1px solid lightgray;
  font-size: 14px;
  padding: 4px 20px;
  height: 30px;
  
}  

.filepicker-ui button {
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.filepicker-ui input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.filepicker-preview > div {
  border: 1px solid lightgray;
  padding: 5px;
}
.outer {
  position: relative;
  margin-top: 20px;
}

.top {
  position: absolute;
  margin-top: -10px;
  background-color: green;
}

.bot {
  position: absolute;
  background-color: yellow;
}
